.swiper-pagination {
  position: absolute !important;
  text-align: left !important;
  left: 6% !important;
  bottom: 6% !important;
  width: 94% !important;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border-radius: 0 !important;
  position: relative !important;
  color: white !important;
  text-align: left !important;
  margin-right: 2% !important;

  font-weight: normal;
  font-family: "Helvetica";

  font-size: 12px;
  width: 100px !important;
  height: 30px !important;
}

.swiper-pagination-bullet div {
  position: relative;
  height: 4px;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: .3;
  background: rgba(255, 255, 255);
  width: 100px;
}

@media (min-width: 576px) {
  .swiper-pagination-bullet {
    font-size: 14px;
    width: 120px !important;
    height: 40px !important;
  }

  .swiper-pagination-bullet div {
    width: 120px;
  }
}

.swiper-pagination-bullet div:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-pagination-bullet-active {
  background-color: transparent !important;
}

.swiper-pagination-bullet-active div {
  opacity: 1;
  background: rgba(255, 255, 255);
}

.swiper-pagination-bullet-active div:after {
  background-color: rgb(255, 157, 0);
  animation: slide-progress 3s linear forwards;
}

.swiper-button-next, .swiper-button-prev {
  /* width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size); */
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  color: #E1E1E1;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  pointer-events: all;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-weight: bold;
  /* font-size: var(--swiper-navigation-size); */
}

.swiper-custom-button-prev, .swiper-custom-button-next {
  position: absolute;
  top: calc(50% - 24px);
  z-index: 1;
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

.swiper-custom-button-prev:active,
.swiper-custom-button-prev:hover,
.swiper-custom-button-next:active,
.swiper-custom-button-next:hover {
  opacity: .8;
}

.swiper-custom-button-prev {
  left: 0px;
}

.swiper-custom-button-next {
  right: 0px;
}

@keyframes slide-progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}